<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='show_class.css') }}">

</head>
<body class="container">
    <br><br>
    {% for section in range(1,a_class.description['number_of'] + 1) %}
    {% with heading = "desc_heading_" + section|string %}
    {% with description = "description_" + section|string %}
    <h3>{{a_class.description[heading]}}</h3>
    <p>{{a_class.description[description]}}</p>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    <br>
    <h3>Class Features</h3>
    <h4>Hit Points</h4>
    <p><strong>Hit Dice: </strong> 1d{{a_class.hit_die}} per {{a_class.name}} level <br>
    <strong>Hit Points at 1st Level: </strong>{{a_class.hit_die}} + your Constitution modifier <br>
    <strong>Hit Points at Higher Levels: </strong> 1d{{a_class.hit_die}} or (or {{show_var['hit_mod']}}) + your Constitution modifier per {{a_class.name}} level after 1st</p>
    <br>
    <h3>Proficiencies</h3>
    <p><strong>Armor: </strong>{{show_var['armor_proficiencies']}} <br>
    <strong>Weapons: </strong>{{show_var['weapon_proficiencies']}} <br>
    <strong>Saving Throws: </strong>{{show_var['sav_throws']}} <br>
    <strong>Skills: </strong> Choose {{a_class.skill_prof[0]}} from {{show_var['skills']}} <br></p>
    <br>
    <h3>Equipment</h3>
    <p>You start with the following equipment, in addition to
    the equipment granted by your background:</p>
    <ul>
        {% for option in show_var['equipment'] %}
        <li>{{show_var['equipment'][option]}}</li>
        {% endfor %}
    </ul>
    <br>
    <h2>Class Features</h2>
    {% for section in range(1,a_class.features['number_of']|int + 1) %}
    {% with name = "feature_name_" + section|string %}
    {% with features = "feature_descript_" + section|string %}
    <h3>{{a_class.features[name]}}</h3>
    <p>{{a_class.features[features]}}</p>
    {% endwith %}
    {% endwith %}
    {% endfor %}

</body>
</html>