<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_item.css') }}">
</head>
<body class="container">
    <div class="d-flex justify-content-around align-items-center bg-primary" style="height:  60px;">
        <a class="text-light" href="/dashboard">Show all Items</a>
        <a class="text-light" href="/new_character">Add Character</a>
        <a class="text-light" href="/new_class">Add Class</a>
        <a class="text-light" href="/new_armor">New Armor Piece</a>
        <a class="text-light" href="/new_item">New Item</a>
        <a class="text-light" href="/new_weapon">New Weapon</a>
        <a class="text-light" href="/new_armor">New Armor Piece</a>
        <p class="text-light mt-3"><strong>Logged in: {{user.first_name}}</strong> <a class="text-light ml-4" href="/logout">Logout</a></p>
    </div>
    <br><br><br>
    {% if item.armor_id %}
    <h1 class="text-center">Edit Armor</h1>
    {% elif item.weapon_id %}
    <h1 class="text-center">Edit Weapon</h1>
    {% else %}
    <h1 class="text-center">Edit Item</h1>  
    {% endif %}
    <div class="form-group d-flex justify-content-center">
        <form action="/update_item" class="border border-dark p-3" method="post" id="item_form">
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <div class="d-flex">
                <div class="column_1">
                    <h3>Edit Item Info</h3>
                    <input type="hidden" name="id" value="{{item.id}}">
                    <label for="name" class="mr-2">Item Name: </label>
                    <input type="text" name="name" value="{{item.name}}">
                    <br>
                    <div class="d-flex align-items-center">
                        <label for="type" class="mr-2">Type: </label>
                        <select name="type" id="item_type" multiple>
                            {% for type in weapons['item_type'] %}
                            {% if item.type == type %}
                            <option value="{{type}}" selected>{{weapons['item_type'][type]}}</option>
                            {% else %}
                            <option value="{{type}}" >{{weapons['item_type'][type]}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <label for="rarity">Rarity:</label>
                    <select name="rarity" id="item_rarity">
                        {% for rarity in weapons['item_rarity'] %}
                        {% if item.rarity == rarity %}
                        <option value="{{rarity}}" selected>{{weapons['item_rarity'][rarity]}}</option>
                        {% else %}
                        <option value="{{rarity}}" >{{weapons['item_rarity'][rarity]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="d-flex form-group" style="height: 30px;">
                        <label for="cost" class="mr-2">Cost: </label>
                        <input type="number" name="cost" min="0" value="{{item.cost}}" class="mr-2" style=" width: 120px;">
                        <p class="text-secondary">(in copper pieces) <br> (ex: 1 sp = 100cp 1gp = 100 sp)</p> 
                    </div>
                    <div class="d-flex form-group mt-4" >
                        <label for="weight" class="mr-2">Weight: </label>
                        <input type="number" name="weight" min="0" value="{{item.weight}}" class="mr-2" style="height: 30px; width: 120px;">
                        <p class="text-secondary">(In lbs)</p> 
                    </div>
                    
                    <label class="mr-3" for="is_magical">Is it Magical?</label>
                    <!-- <p>is magical: {{item.is_magical}}  </p> -->
                    {% if item.is_magical == 'yes' %}
                    <input type="radio" name="is_magical" id="magical" value="yes"  checked><span class="mr-3">Yes</span>
                    {% else %}
                    <input type="radio" name="is_magical" id="magical" value="yes"><span class="mr-3">Yes</span>
                    {% endif %}

                    {% if item.is_magical == 'no' %}
                    <input type="radio" name="is_magical" id="magical" value="no" checked><span>No</span>
                    {% else %}
                    <input type="radio" name="is_magical" id="magical" value="no"><span>No</span>
                    {% endif %}
                    <br>

                    <label class="mr-3" for="is_attunable">Is it Attuneable?</label>
                    <!-- <p>is attunable: {{item.is_attunable}}</p> -->

                    {% if item.is_attunable == 'yes' %}
                    <input type="radio" name="is_attunable" id="attunable" value="yes" checked><span class="mr-3" >Ys</span>
                    {% else %}
                    <input type="radio" name="is_attunable" id="attunable" value="yes"><span class="mr-3">Yes</span>
                    {% endif %}

                    {% if item.is_attunable == 'no'  %}
                    <input type="radio" name="is_attunable" id="attunable" value="no" checked><span>No</span>
                    {% else %}
                    <input type="radio" name="is_attunable" id="attunable" value="no"><span>No</span>
                    {% endif %}
                    <br>
                    <div class="">
                    
                    </div>
                        <div >
                            <label for="description">Description:</label><br>
                            <textarea name="description" id="item_description" cols="30" rows="3">{{item.description}}</textarea>
                        </div>
                    <br>
                    <div class="mb-3">
                        <label for="source">Source Material:</label><br>
                        <select name="source" id="">
                        {% for source in weapons['item_src'] %}
                        {% if item.source == source %}
                        <option value="{{source}}" selected>{{weapons['item_src'][source]}}</option>
                        {% else %}
                        <option value="{{source}}" >{{weapons['item_src'][source]}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
                <div class="column_2 ml-5">
                    <!-- Weapon edit -->
                    {% if item.weapon_id %}
                    <input type="hidden" name="weapon_id" value="{{item.weapon_id}}">
                    <label for="weapon_type">Weapon Type: </label>
                    <select name="weapon_type" id="weapon_type">
                        {% for type in weapons['weapon_type'] %}
                        {% if type == item.weapon.weapon_type %}
                        <option value="{{type}}" selected>{{weapons['weapon_type'][type]}}</option>
                        {% else %}
                        <option value="{{type}}">{{weapons['weapon_type'][type]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="damage_die">Damage Die:</label>
                    <select name="damage_die" id="weapon_type">
                        {% for die in weapons['damage_die'] %}
                        {% if die == item.weapon.damage_die %}
                        <option value="{{die}}" selected>{{'1d'+weapons['damage_die'][die]}}</option>
                        {% else %}
                        <option value="{{die}}">{{'1d'+weapons['damage_die'][die]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="magical_mod">Magical Modifier:</label>
                    <input type="number" name="magical_mod" id="magical_mod" style="width: 50px;" min="0" max="5" value="{{item.weapon.magical_mod}}">
                    <br>
                    <label for="damage_type">Damage type:</label>
                    <select name="damage_type" id="weapon_type">
                        {% for type in weapons['damage_type'] %}
                        {% if type == item.weapon.damage_type %}
                        <option value="{{type}}" selected>{{weapons['damage_type'][type]}}</option>
                        {% else %}
                        <option value="{{type}}">{{weapons['damage_type'][type]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="properties">Weapon Properties:</label>
                    <div class="d-flex">
                        <!-- <p>{{weapons['properties'][0]}}</p> -->
                        <!-- <p>{{item.weapon.properties}}</p> -->
                        {% for properties in weapons['properties'][0] %}
                            {% set prop_true = 'false' %}
                            {% for item_prop in item.weapon.properties %}
                                {% if item_prop == properties %}
                                    {% set prop_true = 'true' %}
                                {% endif %}
                                <!-- <input type="checkbox" name="ammunition" class="mr-2"><label for="ammunition" class="mr-4 mt-2">ammunition</label>
                                    <input type="checkbox" name="finesse" class="mr-2"><label for="finesse" class="mr-4 mt-2">finesse</label>
                                    <input type="checkbox" name="heavy" class="mr-2"><label for="heavy" class="mr-4 mt-2">heavy</label>
                                    <input type="checkbox" name="light" class="mr-2"><label for="light" class="mr-4 mt-2">light</label> -->
                            {% endfor %}
                                {% if prop_true == 'true' %}
                                    <input type="checkbox" name="{{properties}}" class="mr-2" checked><label for="{{properties}}" class="mr-4 mt-2">{{properties}}</label>
                                {% else %}
                                    <input type="checkbox" name="{{properties}}" class="mr-2"><label for="{{properties}}" class="mr-4 mt-2">{{properties}}</label>
                                {% endif %}
                        {% endfor %}
                    </div>
                    <div class="">  
                        {% for properties in weapons['properties'][1] %}
                            {% set prop_true = ['false'] %}
                            <!-- <p>prop_true is now set back to FALSE</p> -->
                            {% for item_prop in item.weapon.properties %}
                                <!-- <p>Does: {{item_prop}} == {{properties}}</p> -->
                                {% if item_prop == properties %}
                                    {% set prop_true = ['true'] %}
                                    <!-- <p>prop_true is set to TRUE</p> -->
                                {% endif %}
                                <!-- <p>prop_true is still.... {{prop_true}}</p> -->
                            {% endfor %}
                                <!-- <p>prop_true is: {{prop_true}}</p> -->
                                {% if prop_true == 'true' %}
                                    <input type="checkbox" name="{{properties}}" class="mr-2" checked><label for="{{properties}}" class="mr-4 mt-2">{{properties}}</label>
                                {% else %}
                                    <input type="checkbox" name="{{properties}}" class="mr-2"><label for="{{properties}}" class="mr-4 mt-2">{{properties}}</label>
                                {% endif %}
                        {% endfor %}
                        <!-- <input type="checkbox" name="loading" class="mr-2"><label for="loading" class="mr-4 mt-2">loading</label>
                        <input type="checkbox" name="range" class="mr-2"><label for="range" class="mr-4 mt-2">range</label>
                        <input type="checkbox" name="reach" class="mr-2"><label for="reach" class="mr-4 mt-2">reach</label>
                        <input type="checkbox" name="special" class="mr-2"><label for="special" class="mr-4 mt-2">special</label> -->
                    </div>
                    <div class="d-flex">
                        <input type="checkbox" name="thrown" class="mr-2"><label for="thrown" class="mr-4 mt-2">thrown</label>
                        <input type="checkbox" name="two-handed" class="mr-2"><label for="two-handed" class="mr-4 mt-2">two-handed</label>
                        <input type="checkbox" name="versatile" class="mr-2"><label for="versatile" class="mr-4 mt-2">versatile</label>
                    </div>
                    {% endif %}
                    <!-- addition for armor -->
                    {% if item.armor_id %}
                    <input type="hidden" name="armor_id" value="{{item.armor_id}}">
                    <label for="armor_type">Armor Type: </label>
                    <select name="armor_type" id="armor_type">
                        {% for type in weapons['armor_type'] %}
                        {% if item.armor.armor_type == type %}
                        <option value="{{type}}" selected>{{weapons['armor_type'][type]}}</option>
                        {% else %}
                        <option value="{{type}}">{{weapons['armor_type'][type]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="body_part">Armor Type: </label>
                    <select name="body_part" id="body_part">
                        {% for type in weapons['body_part'] %}
                        {% if item.armor.body_part == type %}
                        <option value="{{type}}" selected>{{weapons['body_part'][type]}}</option>
                        {% else %}
                        <option value="{{type}}">{{weapons['body_part'][type]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="armor_AC">Armor AC:</label>
                    <input type="number" name="armor_AC" id="armor_AC" style="width: 50px;" min="1" value="{{item.armor.armor_AC}}">
                    <br>
                    <label for="magical_mod">Magical Modifier:</label>
                    <input type="number" name="magical_mod" id="magical_mod" style="width: 50px;" min="0" max="5" value="{{item.armor.magical_mod}}">
                    <br>
                    <label for="str_req">Strength Attribute Requirement:</label>
                    <input type="number" name="str_req" id="str_req" style="width: 50px;" min="1" value="{{item.armor.str_req}}">
                    <br>
                    <label for="stealth_property">Stealth Properties:</label>
                    <select name="stealth_property" id="stealth_property">
                        {% for type in weapons['stealth_prop'] %}
                        {% if type == item.armor.stealth_prop %}
                        <option value="{{type}}" selected>{{armors['stealth_prop'][type]}}</option>
                        {% else %}
                        <option value="{{type}}">{{weapons['stealth_prop'][type]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</body>
</html>