<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_character.css') }}">


</head>
<body style="width: 75%; margin-left: 10%; margin-right: 20%;">
    <div class="d-flex justify-content-around align-items-center bg-primary" style="height:  60px;">
        <a class="text-light" href="/dashboard">Show all Items</a>
        <a class="text-light" href="/new_class">Add Class</a>
        <a class="text-light" href="/new_item">New Item</a>
        <a class="text-light" href="/new_weapon">New Weapon</a>
        <a class="text-light" href="/new_armor">New Armor Piece</a>
        <p class="text-light mt-3"><strong>Logged in: {{user.first_name}}</strong> <a class="text-light ml-4" href="/logout">Logout</a></p>
    </div>
    <br><br><br>
    <h1 class="text-center">Edit Character</h1>
    <div class="d-flex justify-content-center" id="columns_container">
        <form action="/update_char/{{character.id}}" class="border border-dark p-3" method="post" id="character_form" >
            <input type="hidden" name="id" value="{{character.id}}">
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <div class="row_container d-flex">
                <div id="row_1" class="border border-dark mr-2 p-2">
                    <label for="char_name"><strong>Character Name:</strong></label>
                    <input type="text" name="char_name" class="mr-3" value="{{character.char_name}}"><br>
                    <label for="char_race" class="mt-2"><strong>Race: </strong></label>
                    <select name="char_race" id="char_race" class="mr-3">
                        {% for race in char_dict['race'] %}
                        {% if character.char_race == race%}
                        <option value="{{race}}" selected>{{char_dict['race'][race]}}</option>
                        {% else %}
                        <option value="{{race}}">{{char_dict['race'][race]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select><br>
                    <label for="char_class"><strong>Class: </strong></label>
                    <select name="char_class" id="char_class" class="mr-3">
                        {% for class in char_dict['class'] %}
                        {% if character.char_class == class%}
                        <option value="{{class}}" selected>{{char_dict['class'][class]}}</option>
                        {% else %}
                        <option value="{{class}}">{{char_dict['class'][class]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select><br>
                    <label for="char_background"><strong>Background: </strong></label>
                    <select name="char_background" id="char_background">
                        {% for background in char_dict['background'] %}
                        {% if character.char_background == background%}
                        <option value="{{background}}" selected>{{char_dict['background'][background]}}</option>
                        {% else %}
                        <option value="{{background}}">{{char_dict['background'][background]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="char_alignment" class="mr-2"><strong>Alignment: </strong></label>
                    <select name="char_alignment" id="char_alignment">
                        {% for alignment in char_dict['alignment'] %}
                        {% if character.char_alignment == alignment%}
                        <option value="{{alignment}}" selected>{{char_dict['alignment'][alignment]}}</option>
                        {% else %}
                        <option value="{{alignment}}">{{char_dict['alignment'][alignment]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <div class="d-flex  align-items-center mb-2">
                        <label for="personality_traits" >Personality Traits: </label>
                        <textarea name="personality_traits" class="mr-2" id="personality_traits" cols="19" rows="2">{{character.personality_traits}}</textarea>
                    </div>
                    <div class="d-flex  align-items-center mb-2">
                        <label for="ideal" class="mr-1">Ideal: </label>
                        <textarea name="ideal" class="mr-2" id="ideal" cols="19" rows="2">{{character.ideals}}</textarea>
                    </div>
                    <div class="d-flex  align-items-center mb-2">
                        <label for="bond" class="mr-1">Bond: </label>
                        <textarea name="bond" class="mr-2" id="bond" cols="19" rows="2">{{character.bonds}}</textarea>
                    </div>
                    <div class="d-flex  align-items-center mb-2">
                        <label for="flaw" class="mr-1">Flaw: </label>
                        <textarea name="flaw" class="mr-1" id="flaw" cols="19" rows="2">{{character.flaws}}</textarea>
                    </div>
                </div>
                <div class=" border border-dark p-3">
                    <h4>Please Select attributes and proficiencies</h4>
                    <div class="">
                        <div>
                            <label for="str" class="mr-2"><strong>Strength </strong></label>
                            <input type="number" name="str" id="str" min="1" max="20" value="{{character.attributes['str'][0]}}" class="mr-3" style="width: 60px;" onchange="populate_mods()">
                            <label for="dex" class="mr-2"><strong>Dexterity: </strong></label>
                            <input type="number" name="dex" id="dex" min="1" max="20" value="{{character.attributes['dex'][0]}}" class="mr-3" style="width: 60px;"onchange="populate_mods()">
                            <label for="con" class="mr-2"><strong>Constitution: </strong></label>
                            <input type="number" name="con" id="con" min="1" max="20" value="{{character.attributes['con'][0]}}" class="mr-3" style="width: 60px;"onchange="populate_mods()">
                        </div>
                        <div>
                            <label for="int" class="mr-2"><strong>Intelligence: </strong></label>
                            <input type="number" name="int" id="int" min="1" max="20" value="{{character.attributes['int'][0]}}" class="mr-3" style="width: 60px;"onchange="populate_mods()">
                            <label for="wis" class="mr-2"><strong>Wisdom: </strong></label>
                            <input type="number" name="wis" id="wis" min="1" max="20" value="{{character.attributes['wis'][0]}}" class="mr-3" style="width: 60px;"onchange="populate_mods()">
                            <label for="cha" class="mr-2"><strong>Charisma: </strong></label>
                            <input type="number" name="cha" id="cha" min="1" max="20" value="{{character.attributes['cha'][0]}}" class="mr-3" style="width: 60px;"onchange="populate_mods()">
                        </div>
                        <a onclick="roll_attrib()" href="#" class="btn btn-primary">Roll Attributes</a>
                    </div>
                    <br>
                    <div class="d-flex justify-content-around">
                        <a onclick="clear_prof()" href="#" class="btn btn-primary">Clear Proficiencies</a>
                        <a onclick="clear_all()" href="#" class="btn btn-primary">Clear Everything</a>
                    </div>
                    <div class=" d-flex" id="row_2">
                        <div class="p-2  mt-2 mr-4 border border-dark" >
                            <h3>Saving Throws</h3>
                            {% for sav in char_dict['savs'] %}
                            {% set save = sav + "_prof" %}
                            {% set prof = sav + "_mod" %}
                            <!-- <p>{{save}}</p> -->
                            <div class="d-flex">
                                {% if save in character.proficiencies['savs'] %}
                                <input type="checkbox" name="{{save}}" id="{{save}}" class="mb-3 mr-2" value="prof" onchange="populate_mods()" checked>
                                {% else %}
                                <input type="checkbox" name="{{save}}" id="{{save}}" class="mb-3 mr-2" value="prof" onchange="populate_mods()">
                                {% endif %}
                                <p class="border-bottom border-dark mr-2 text-center" id="{{prof}}" style="width: 20px;"></p>
                                <label for="{{save}}" id="{{sav}}">{{char_dict['savs'][sav]}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="p-2  mt-2 border border-dark">
                            <h3>Skills</h3>
                            <div class="d-flex skill_container">
                                {% for skill_dict in char_dict['skills'] %}
                                <div class="mr-3 ">
                                    {% for skill in skill_dict %}
                                    {% set skill_prof = skill + '_prof' %}
                                    {% set prof = skill + "_mod" %}
                                    <!-- <p>{{skill_prof}}</p> -->
                                    <div class="d-flex">
                                        {% if skill_prof in character.proficiencies['skills'] %}
                                        <input type="checkbox" name="{{skill_prof}}" id="{{skill_prof}}" class="mb-3 mr-2" value="prof" onchange="populate_mods()" checked>
                                        {% else %}
                                        <input type="checkbox" name="{{skill_prof}}" id="{{skill_prof}}" class="mb-3 mr-2" value="prof" onchange="populate_mods()">
                                        {% endif %}
                                        <p class="border-bottom border-dark mr-2 text-center" id="{{prof}}" style="width: 20px;"></p>
                                        <label for="" id="skill + '_skil'">{{skill_dict[skill][0]}}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <input type="submit" class="btn btn-primary" value="Submit Character">
            </div>
        </form>
    </div>
    <script src="../static/add_character.js"></script>
</body>
</html>