<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="container">
    <div class="d-flex justify-content-around align-items-center bg-primary" style="height:  60px;">
        <a class="text-light" href="/dashboard">Show all Items</a>
        <a class="text-light" href="/new_character">Add Character</a>
        <a class="text-light" href="/new_class">Add Class</a>
        <a class="text-light" href="/new_item">New Item</a>
        <a class="text-light" href="/new_weapon">New Weapon</a>
        <a class="text-light" href="/new_armor">New Armor Piece</a>
    </div>
    <br><br><br>
    {% if characters %}
    <table class="table table-hover">
        <tr>
            <th>id</th>
            <th>Character Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Background</th>
            <th>Level</th>
            <th>Last Updated</th>
        </tr>
        {% for character in characters %}
        <tr>
            <td>{{character.id}}</td>
            <td>{{character.char_name}}</td>
            <td>{{character.char_race}}</td>
            <td>{{character.char_class}}</td>
            <td>{{character.char_background}}</td>
            <td>{{character.char_level}}</td>
            <td>{{character.updated_at}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if items %}
    <div class="p-2 border border-dark ">
        {% for item in items %}
        <div class="d-flex">
            <div class="w-75 border-bottom border-dark">
                <div class="d-flex">
                    <!-- <p>item id: {{item.id}}</p> -->
                    <div class="w-25 mr-2">
                        <p><a href="/show_item/{{item.id}}"><strong>Name: {{item.name}}</strong></a><br>   
                        <strong>Type: </strong>{{item.type}}<br>
                        <strong>Cost: </strong>{{item.cost}}   <strong>Weight: </strong>{{item.weight}}</p>
                    </div>
                </div>
                <P><strong>Description: </strong>{{item.description}}</P>
            </div>
            <div class="d-flex justify-content-around align-items-center w-25 border-bottom border-dark">
                <a class="btn btn-secondary" href="/edit_item/{{item.id}}" style="height: 40px;">Edit</a>
                <a class="btn btn-secondary" href="/delete_item/{{item.id}}" style="height: 40px;">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>