<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_character.css') }}">

</head>
<body class="" style="width: 75%; margin-left: 10%; margin-right: 20%;">
    <div class="d-flex justify-content-around align-items-center bg-primary" style="height:  60px;">
        <a class="text-light" href="/dashboard">Show all Items</a>
        <a class="text-light" href="/new_class">Add Class</a>
        <a class="text-light" href="/new_item">New Item</a>
        <a class="text-light" href="/new_weapon">New Weapon</a>
        <a class="text-light" href="/new_armor">New Armor Piece</a>
        <p class="text-light mt-3"><strong>Logged in: {{user.first_name}}</strong> <a class="text-light ml-4" href="/logout">Logout</a></p>
    </div>
    <br><br><br>
    <h1 class="text-center">Enter New Character</h1>
    <div class="container" id="columns_container">
        <div>
            {% with messages = get_flashed_messages(category_filter=["char_input"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger fs-2 fw-bolder">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <form action="/new_character_part2" class="border border-dark p-3" method="post" id="character_form">
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <input type="hidden" name="classes" id="classes" value="{{classes}}">
            <div class="row_container d-flex flex-wrap">
                <div class=" mr-2 p-2 box">
                    <label for="char_name"><strong>Character Name:</strong></label>
                    <input type="text" name="char_name" class="mr-3"><br>
                    <label for="char_race" class="mt-2"><strong>Race: </strong></label>
                    <select name="char_race" id="char_race" class="mr-3" onchange="display_race(this)" onclick="display_race(this)">
                        <option value="null">Select Race</option>
                        {% for race in races %}
                        <option value="{{race.id}}">{{race.name}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="char_class"><strong>Class: </strong></label>
                    <select name="char_class" id="char_class" class="mr-3" onchange="display_class(this)" onclick="display_class(this)">
                        <option value="null">Select Class</option>
                        {% for class in classes %}
                        <option value="{{class.id}}">{{class.name}}</option>
                        {% endfor %}
                    </select><br>
                    <label for="char_background"><strong>Background: </strong></label>
                    <select name="char_background" id="char_background" class="mr-3" onchange="display_background(this)" onclick="display_background(this)">
                        <option value="null">Select Background</option>
                        {% for background in backgrounds %}
                        <option value="{{background.id}}">{{background.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="hidden" id="alignment" value="{{alignment}}">
                    <label for="char_alignment" class="mr-2"><strong>Alignment: </strong></label>
                    <select name="char_alignment" id="char_alignment" onchange="display_alignment(this)" onclick="display_alignment(this)">
                        <option value ="definition">Select One</option>
                        <option value ="lawful_good">Lawful Good</option>
                        <option value="Lawful_neutral">Lawful Neutral</option>>
                        <option value="lawful_evil">Lawful Evil</option>>
                        <option value="neutral_good">Neutral Good</option>>
                        <option value="neutral">Neutral Neutral</option>>
                        <option value="neutral_evil">Neutral Evil</option>>
                        <option value="chaotic_good">Chaotic Good</option>>
                        <option value="chaotic_neutral">Chaotic Neutral</option>>                                    
                        <option value="chaotic_evil">Chotic Evil</option>>                                    
                    </select>
                    <p>Alignment Definition</p>
                    <div id="alignment_box" class="border border-dark border-double">
                        <p class="alignment_desc"></p>
                    </div>
                </div>
                    <iframe src="" id="display_race" frameborder="0"></iframe>
                </div>
                <div class="d-flex flex-wrap">
                    <iframe src="" id="display_class" frameborder="0" ></iframe>
                    <iframe src="" id="display_background" frameborder="0"></iframe>
                </div>
            <div class="d-flex justify-content-center mt-3">
                <input type="submit" class="btn btn-primary" value="Selecting Attributes">
            </div>
        </form>
    </div>
    <script src="../static/add_character.js"></script>
</body>
</html>