body{
    background-image: url('/static/images/add_character.jpg');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    /* display: flex;
    justify-content: center; */
}

#character_form {
    background-color: rgba(255, 255, 255, 0.749);

    /* color: rgb(246, 240, 174); */
    /* color: rgb(164, 3, 3); */
    color: rgb(0, 5, 2);

    /* opacity: .5;  */
    font-weight: bold;
}

h1 {
    color: rgb(171, 157, 6);
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;

}

iframe {
    border-style: double;
    border-color: black;
    border-width: 4px;
    width: 490px;
    height: 400px;
    margin: 5px;
}

.box {
    border-style: double;
    border-color: black;
    border-width: 4px;
    width: 490px;
    height: 400px;
    margin: 5px;
}

#alignment_box {
    width: 440px;
    height: 150px;
    overflow:auto;
}
.alignment_desc {
    
    overflow:auto;
}