body{
    background-image: url('/static/images/Dragon_portal_2.jpg');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    /* display: flex;
    justify-content: center; */
}

a {
    color:brown;

}
th {
    color:brown;

}

h3 {
    color:rgb(251, 234, 139);
}

li {
    margin-bottom: 5px;
}